/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

html {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

main {
  background-color: #faf3ea;
}

header, .post {
  background: #c1a470;
}

footer {
  height: 150px;
}

.study_time {
  width: 75px;
}

.pagination {
  justify-content: center;
  margin-top: 16px;
}

.error {
  color: red;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.images {
	gap: 15px 15px;
}

.record-area {
	gap: 10px 10px;
}

.nav-tabs .nav-item .active {
  background-color: #808080;
}

.form-item {
  height: 30px;
}

.user:nth-of-type(1) .index {
  font-size: 40px;
  background-color: #d7c447;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.user:nth-of-type(2) .index {
  font-size: 35px;
  background-color: silver;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.user:nth-of-type(3) .index {
  font-size: 30px;
  background-color: #ac6b25;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.body-show, .title {
  font-size: 18px;
}

.app-introduction {
  line-height: 2rem;
}